<header class="header">
    <div class="logo">
      <img src="assets/header/elite2.png" alt="Elite Rides Logo">
    </div>
    <nav class="nav">
      <ul>
        <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
        <li><a href="#"><i class="fas fa-car"></i> Rentals</a></li>
        <li><a href="#"><i class="fas fa-info-circle"></i> About</a></li>
        <li><a href="#"><i class="fas fa-phone"></i> Contact</a></li>
      </ul>
    </nav>
    <div class="header-icons">
      <button class="login-btn"><i class="fas fa-user"></i> Login</button>
      <div class="cart">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="9" cy="21" r="1"></circle>
            <circle cx="20" cy="21" r="1"></circle>
            <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
          </svg>
                  <span class="cart-count">4</span>
      </div>
    </div>
  </header>
  